<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='paypal.css') }}">

<title>Datastore Query Interface</title>
<H1>Datastore Query Interface</H1>

<label>
    Queries a small 25-row table based on data from this article:
</label>
<a href="https://patch.com/michigan/northville/3-northville-schools-report-new-coronavirus-outbreaks-state-says">
    Patch.com
</a><br>

<label>
    Input 'patch' for FROM
</label>
<br><br>

<form method="POST">
    <table class="whole">   
        <tr>
            <td>
                <label>SELECT</label>
            </td>
            <td>
                <label>*</label>
            </td>
        </tr>

        <tr>
            <td>
                <label>FROM</label>
            </td>
            <td >
                <input name="kind" type="text">
            </td>
        </tr>

        <tr>
            <td style="vertical-align: top">
                <label>WHERE</label>
            </td>
            <td>
                <table>
                    <tr>
                        <td>(property)</td>
                        <td>
                            <input name="property" type="text">
                        </td>
                    </tr>
                        
                    <tr>
                        <td>(operator)</td>
                        <td>
                            <select name="operator"> 
                            {% for operator in '> >= = < <='.split() %}
                                <option value="{{ operator }}">{{ operator }}</option> 
                            {% endfor %} 
                            </select>
                        </td>
                    </tr>
                        
                    <tr>
                        <td>(value)</td>
                        <td>
                            <input name="value" type="text">
                        </td>
                    </tr>
                        
                    <tr>
                        <td>(int)</td>
                        <td>
                            <input name="int" type="checkbox">
                        </td>
                    </tr>
                </table>
                
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>
</form>

{% if tables %}
    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}
{% else %}
    <label>No Results</label>
{% endif %}