<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='paypal.css') }}">
<title>RatingsMap</title>

<form action="/ratingsmap/">
    <input type="image" src="{{ url_for('static',filename='home/ratingsmap.png') }}" 
    width="9%" style="float:left">
</form>
<h1>RatingsMap</h1>

<div class="row">
    <div class="column">    
        <h3>Search for a show</h3>
        <form method="POST">
            <input type="text" name="search">
            <input type="submit">
        </form>
    </div>
    
    <div class="column">
        <pre>
You know when you walk upstairs and forget what you came for?
Well, it sucks even more when you're laying in bed on your phone,
and you're reminded of a new movie or maybe one you saw before.
"Hey", you think, "That'd be a nice watch." Then you go to sleep.
IT'S GONE
        </pre>
    </div>  

</div>

<h3 style="margin-left: 11%;">Reviewed</h3><br>

<div class="row"> 
    {% for result in reviewed %}
    <form action="{{ url_for('ratingsmap.show', title=result.id) }}">
        <input type="image" src="{{ result.to_dict()['Poster'] }}" width="99%">
    </form>
    {% endfor %}
</div>