<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='paypal.css') }}">
<title>RatingsMap</title>

<form action="/ratingsmap/">
    <input type="image" src="{{ url_for('static',filename='home/ratingsmap.png') }}" 
    width="9%" style="float:left">
</form>
<h1>RatingsMap</h1>

<div class="row">
    <div>
        <img src="{{ poster }}">
    </div>

    <div style="float:right">        
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}

        <form method="POST">
            <h3>Review</h3>
            <textarea name="review">
{{ review }}
            </textarea><br>

            <input type="submit">
        </form>
    </div>
</div>

