body {
    background-color:white;
}

h1 {
    display: flex;
    background-color: cornflowerblue;
    color: white;
    border-radius: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 22px;
}

.section {
    background-color: white;
    border-radius: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 9px;
}

.token {
    display: flex;
    border-radius: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 9px;
}

input[type=submit] {
    background-color: green;
    color: white;
    border-radius: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 9px;
}

.row {
    display: flex;
    margin-left: 11%;
}

.column {
    flex: 50%;
}

table, th, td {
    border-collapse: collapse;
    padding: 9px;
}
tr:nth-child(even) {background-color: #f2f2f2;}