<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='lpond.css') }}">

<title>CryptoCharity</title>

<div class="row">
    <h1>CryptoCharity</h1>
    <img style="height:99px" src="{{ url_for('static',filename='crypchar.png') }}">
    </div>
</div>

<div class="row">
    <div class="column">
        <h3>Transact</h3>
        <label>
            'Value' must be a uint
        </label>
        <form method="POST">
            <table>
                <tr>
                    <td>
                        Agent
                    </td>
                    <td>
                        <select name="agent">
                        {% for agent in 'User Charity'.split() %}    
                            <option value="{{ agent }}">
                                {{ agent }}
                            </option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Continent
                    </td>
                    <td>
                        <select name="continent">
                        {% for cont in ['Asia', 'Africa', 'North America', 'South America', 'Antarctica', 'Europe', 'Australia'] %}    
                            <option value="{{ cont }}">
                                {{ cont }}
                            </option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Value
                    </td>
                    <td>
                        <input name="value" type="number" value=0>
                    </td>
                </tr>
                <tr>
                    <td>
                        Memo
                    </td>
                    <td>
                        <input name="memo" type="text">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="hidden" name="form" value="transact" />
                        <input type="submit">
                    </td>
                </tr>
            </table>                  
        </form>  
    </div>
    <div class="column">
        {% for table in bals %}
            {{ table|safe }}
        {% endfor %}
        <br>
        <form method="POST">
            <input type="hidden" name="form" value="refresh" />
            <input type="submit" value="Refresh Tables">
        </form>
    </div>
</div>
<br><br><br>

{% for table in txns %}
    {{ table|safe }}
{% endfor %}
<br><br><br>

<pre>


    © <a href="https://github.com/beloiual">Alex Beloiu</a>, <a href="https://github.com/GeorgeFane">George Fane</a>, <a href="https://github.com/AbbasKagal">Abbas Kagal</a>, <a href="https://github.com/william-ken-wang">Will Wang</a>; 2020

    <a href="https://crypchar.herokuapp.com/">Prior Version</a> and <a href="https://github.com/Blockchain-Group-2/CrypChar-Frontend">Its GitHub</a>


</pre>