<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='lpond.css') }}">

<title>Payoff Matrix Solver</title>
<h1>Payoff Matrix Solver</h1>
<h3>Any number of players and strategies</h3>

<div class="row">
    <div class="column">
        <form method="POST">
            <table>
                <tr>
                    <td>
                        # Players
                    </td>
                    <td>
                        <input type="number" name="p" value={{ p }} />
                    </td>
                </tr>
                <tr>
                    <td>
                        # Strategies
                    </td>
                    <td>
                        <input type="number" name="s" value={{ s }} />
                    </td>
                </tr>
                <tr>
                    <td>
                        Input Matrix <br>
                        Random if empty
                    </td>
                    <td>
                        <textarea name="matrix"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="submit" />
                    </td>
                </tr>
            </table>
        </form>

        {{ matrix }}
    </div>
    <div class="column">
        <table>
            <tr>
                <th>
                    Index
                </th>
                <th>
                    Payoff
                </th>
            </tr>

            {% for row in table %}
            <tr>
                {% for x in row %}
                <td>
                    {{ x }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>