<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='paypal.css') }}">

<title>RatingsMap</title>
<h1>RatingsMap</h1>
<h3>Search for a show</h3>

<form method="POST">
    <input type="text" name="search">
    <input type="submit">
</form>

{{ error }}<br>

<form method="POST">
    <div style="display: flex; flex-wrap: wrap;">
        {% for result in results %}
        <button name="title" value="{{ result['Title'] }}">
            <img src="{{ result['Poster'] }}">
        </button>
        {% endfor %}
    </div>
</form>

<div class="row">
    <img src="{{ poster }}">

    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}
</div>